body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  font-family: 'Nunito', sans-serif;
}

h4 {
  font-family: 'Nunito', sans-serif;
}
.banner{
  height: 150px;
  background-color: rgb(255, 184, 52);
  display: flex;
}

.title {
  font-size: 300%;
}
.navcard{
  padding: 5px;
  border-radius: 50px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 2%;
  margin-right: 2%;
  transition: all .11s ease-in 100ms;
}

.navcard:hover{
  cursor: pointer;
  color: rgb(246, 6, 6);
  transform: scale(1.2);
}

@media only screen and (max-width: 660px) {
  .banner {
    display: inline-block;
    height: 200px;
    width: 100%;
  }
}