body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  font-family: 'Nunito', sans-serif;
  color:brown;
}

h5 {
  font-weight:330;
  font-size: 115%;
}
.banner{
  height: auto;
  display: flex;
}

.title {
  font-size: 350%;
}
.navcard{
  padding: 5px;
  border-radius: 50px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 1%;
  margin-right: 2%;
  transition: all .11s ease-in 100ms;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.pages{
  margin: auto;
  display: flex;
  justify-content: end;
  width: 100%;
}

.boku{
  padding: 5px;
  border-radius: 50px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 2%;
  transition: all .11s ease-in 100ms;

}

.boku:hover{
  cursor: pointer;
  color: brown;
  transform: scale(1.05);
}

.logo {
  height: 300px;
  width: 300px
}

.navcard:hover{
  cursor: pointer;
  color: brown;
  transform: scale(1.1);
}

.active{
  color: brown;
  transform: scale(1.1);
}


.home {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: auto;
  width:auto;
  margin-top: 100px;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  padding-top: 11px;
  border-radius: 30px;
  width: 30%;
  background-color: rgb(253, 118, 68);
  transition: all .2s ease-in;
}

.home p{
  font-size: 130%;
  color: white;
  font-weight: 400;
}

.home:hover{
  cursor: pointer;
  background-color: rgb(255, 47, 0) ;
  transform: scale(1.05);
}


@media only screen and (max-width: 835px) {
  .banner {
    width: 100%;
    flex-direction: column;
  }
  .navcard{
    justify-content: center;
  }
}